body {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
    position: relative;
}

.nav-wrapper {
    background-color: #DC3D24;
}

.sidenav {
    background-color: #E3AE57;
}

.sidenav li>a {
    font-size: 24px !important;
    margin-top: 30%;
}

.sidenav li>a:hover {
    background-color: #DC3D24 !important;
}

li:hover {
    background-color: #E3AE57 !important;
}

#about {
    padding: 10%;
    background-color: #232B2B;
}

div.left-nav {
    margin: 0px;
}

li>a {
    padding: 0.5em;
    margin: 0 auto;
    text-decoration: none;
    outline-color: transparent;
    font-weight: bold;
}

i {
    color: #E3AE57;
    margin-right: 10%;
}

i:hover,
a:hover {
    color: #DC3D24;
    text-decoration: none;
}

i:hover {
    transform: scale(1.5);
    transition: 0.2s ease-in-out;
}

#hi {
    border-bottom: 2px solid #E3AE57;
    padding-left: 0px;
}

div.left-nav {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 0px;
}

.fa-envelope {
    padding-left: 0px;
}

.language {
    color: #DC3D24;
}

.language:hover {
    color: #E3AE57;
}

.card {
    transition: transform 125ms ease-out;
    margin: 2vw 0;
}

.card:hover {
    transform: scale(1.07);
    transition: transform 125ms ease-in;
}

h5 {
    text-align: center;
    margin-top: 10%;
}

.hide {
    display: none;
}

.card:hover .card-content {
    display: block !important;
    font-size: 14px;
    color: #232B2B !important;
}

.text-white {
    line-height: 200%;
}

code {
    font-family: "Fira Code";
    margin: 0 auto;
    background: #232B2B;
    padding: 10%;
    width: 100%;
}

pre {
    color: #E3AE57;
}

i {
    color: grey;
}
